<!-- About Section -->
    <section id="about">
        <div class="container" style="max-width: 900px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                    <p class="small"> Click on the photos for more info!</p>
                    <!-- <p class="small"> *re-click photos to dismiss popover*</p> -->
                    </h3>
                </div>
            </div>

            <div class="team-member">
                <!-- =========================== -->
                <!-- ABOUT ME HERE  -->
                <!-- =========================== -->
                <div class="row">
                    <h4 style="margin-top: 15px">Edward Zhu</h4>
                    <h3 class="section-subheading text-muted">A little background about me.</h3>
                    <div class="col-sm-3">
                        <img src="img/about/me.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="Who am I?" data-content="Just an outgoing, naive college student trying to figure out what he wants to do next in life. I love to code, try out all kinds of food, and exploring new technologies.">
                    </div>
                    <div class="col-sm-3 ">
                        <img src="img/about/chinese.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="Chinese" data-content="Grew up speaking both English and Chinese (mainly at home). Fluent in speaking and listening Mandarin Chinese, also understands Shanghainese dialect.">
                    </div>
                    <div class="col-sm-3 ">
                        <img src="img/about/interests.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="Interests" data-content="All Types of Gaming, Mainly PC. Building and upgrading computers. Playing Basketball and Ultimate Frisbee. Love and collect shoes/sneakers. Listening to TED talks and read inspiring blogs/articles. Watching romantic comedies...">
                    </div>
                </div>

                <!-- =========================== -->
                <!-- PAST HERE  -->
                <!-- =========================== -->
                <div class="row">
                    <h4 >Past</h4>
                    <h3 class="section-subheading text-muted">Experiences that I have been apart of.</h3>
                    <div class="col-sm-3">
                        <img src="img/about/PetroDElogo.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="PetroDE" data-content="PetroDE is a start-up based originally in Boulder, Colorado that pretained to the petroleum and oil industry. I focused mainly on database management and PHP scripting to handle constant tranfers and connections between servers.">
                    </div>
                    <div class="col-sm-3">
                        <img src="img/about/pvh.png" class="img-responsive img-circle" style="background-color: #fff;" data-toggle="popover" data-placement="top" data-trigger="hover" title="Poudre Valley Hospital Volun-teen" data-content="Weekly teen volunteer at the main hospital in Fort Collins, Colorado throughout my four years in highschool. Logged over 250 hours of non-profit volunteer hours in the hospital. Helped with many small work and tasks within the hospital.">
                    </div>
                    <div class="col-sm-3">
                        <img src="img/about/prl.jpg" class="img-responsive img-circle" style="background-color: #fff;" data-toggle="popover" data-placement="top" data-trigger="hover" title="Poudre River Library Volunteer" data-content="Summer volunteer for the local library throughout my middle and highschool years. Logged over 125 hours of non-profit volunteer hours in the library. Helped with book shelving, reading to children, hosting various library events for kids, and etc.">
                    </div>
                    <div class="col-sm-3">
                        <img src="img/about/ahec.png" class="img-responsive img-circle" style="background-color: #fff;" data-toggle="popover" data-placement="top" data-trigger="hover" title="AHEC Summer Medical Camp" data-content="Attended Colorado AHEC Summer Medical Camp summer of 2010. The program allowed students to experience the basics of the medical world; from shadowing surgeons/doctors, learning how to perform IV tests, getting CPR certified, exploring the medical facilities at CU Denver Medical Campus and Metropolitan State University.">
                    </div>
                </div>

                <!-- =========================== -->
                <!-- Present HERE  -->
                <!-- =========================== -->
                <div class="row">
                    <h4 >Present</h4>
                    <h3 class="section-subheading text-muted">Current Organizations/Associations I'm involved with.</h3>
                    <div class="col-sm-3">
                        <img src="img/about/CUlogo.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="CU Boulder" data-content="Currently working towards my BS in Computer Science in CU's College of Engineering and Applied Sciences. My focus is Systems(lower-level programming), but I enjoy learning about all forms of software. Expected to graduate May of 2016!">
                    </div>

                    <div class="col-sm-3">
                        <img src="img/about/HPlogo.jpg" class="img-responsive img-circle" data-toggle="popover" data-placement="top" data-trigger="hover" title="Hewlett Packard" data-content="I'm an intern for HP in Fort Collins. I focus mainly on Firmware Integrity testing on HP's Superdome 2 Enterprise Servers, current and future iterations. Primarily using Perl and Bash Shell Scripting for testing. Currently working remotely for the school year.">
                    </div>
                </div>

            </div>
        </div>
    </section>