<!-- Show all blog posts -->
    <section id="blogposts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for post in site.posts %}
                    <div class="post-preview">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <h6 class="post-title">
                                {{ post.title }}
                            </h6>
                            {% if post.subtitle %}
                            <h6 class="post-subtitle">
                                {{ post.subtitle }}
                            </h6>
                            {% endif %}
                        </a>
                        <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="container text-center">

                <ul class="posts">
                    {% for post in site.posts %}
                    <li>
                        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

            </div> -->
            <!-- <div class="row text-center">
            {% for portfolio in site.data.portfolio %}
                <div class="col-md-3 col-md-6">
                    <a href="#{{ portfolio.modal }}_modal" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-4x">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-{{ portfolio.icon }} fa-stack-1x fa-inverse"></i>
                                </div>
                            </div>
                        </span>
                    </a>

                    <h4 class="service-heading">{{ portfolio.project }}</h4>
                    <p class="text-muted">{{ portfolio.intro }}</p>
                    <p class="text-muted">Tools: {{ portfolio.tools }}</p>
                </div>
            {% endfor %}
            </div> -->
        </div>
    </section>