<!-- Header -->
    <header style="background-image: url(../img/rocky_mountains.jpg)">
        <div class="container">
            <div class="blog-intro-text">
                <div class="blog-intro-heading">Evolving Perceptions</div>
                <div class="blog-intro-lead-in">Just Me and My Consciousness</div>
                <!-- <a class="btn btn-default btn-lg page-scroll" href="#blogposts"><i class="fa fa-arrow-down fa-fw"></i> Blog Posts <i class="fa fa-arrow-down fa-fw"></i> -->
                </a>                
            </div>
        </div>
    </header>

    