<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Just Me and My Consciousness</div>
                <div class="intro-heading">Evolving Perceptions</div>
                <a class="btn btn-default btn-lg page-scroll" href="#blogposts"><i class="fa fa-arrow-down fa-fw"></i> Blog Posts <i class="fa fa-arrow-down fa-fw"></i>
                </a>                
            </div>
        </div>
    </header>

    <!-- ADDED FOR THE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>