<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include blog/navbar.html %}

	<!-- Header -->
    <header style="background-image: url(../../img/rocky_mountains.jpg)">
        <div class="container">
            <div class="blog-intro-text">
                <div class="blog-intro-heading">The Archives</div>
                <div class="blog-intro-lead-in">All of My Posts</div>
                </a>                
            </div>
        </div>
    </header>

    
    <!-- SHOW ALL POSTS -->
    <section id="blogarchive">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for post in site.posts %}
                    <div class="post-preview">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <h6 class="post-title">
                                {{ post.title }}
                            </h6>
                            {% if post.subtitle %}
                            <h6 class="post-subtitle">
                                {{ post.subtitle }}
                            </h6>
                            {% endif %}
                        </a>
                        <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END OF ALL POSTS -->
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>